/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#formStuff {
  padding: 20px;
  /* border: 1px black ; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 7;
  width: 60vw;
  align-self: center;
}

#cheeseburgers {
  width: 250px;
  height: 70px;
  /* margin-left: 1vw; */
  background-color: white;
  /* box-shadow: 0 2px 2px 0; */
  /* border-radius: 5px; */
  border: grey 1px solid;
  text-transform: uppercase;
  font-size: 1.3vh;
  text-align: center;
}

#formMessage {
  width: 250px;
  height: 70px;
  /* margin-left: 1vw; */
  background-color: white;
  /* box-shadow: 0 2px 2px 0; */
  /* border-radius: 5px; */
  text-transform: uppercase;
  font-size: 1.3vh;
  /* margin: 0 0 0 -.2px; */
  border: grey 1px solid;
  text-align: center;
}

#formButton {
  height: 75px;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  /* border: 1px solid #724169; */
  border: none;
  /* color: black; */
  color: white;
  /* background-color: lightblue; */
  /* background-color: white; */
  background-color: lightblue;
  /* box-shadow: 0 3px 3px 0; */
  /* border-radius: 5px; */
  text-transform: uppercase;
  margin-right: 10px;
}

.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background: url("/my-react-app/public/malibu19.png") no-repeat center center fixed; */
  background-size: auto;
}

#malibu {
  height: auto;
  width: 70vw;
  margin-top: -20px;
}

.video-gallery {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.video-gallery .gallery-item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 580px;
  max-height: 360px;
  width: 48%;
  background: #000;
  cursor: pointer;
}

.video-gallery .gallery-item img {
  position: relative;
  display: block;
  opacity: .45;
  width: 105%;
  height: 300px;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-23px, 0, 0);
  backface-visibility: hidden;
}

.video-gallery .gallery-item .gallery-item-caption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
}

.video-gallery .gallery-item .gallery-item-caption,
.video-gallery .gallery-item .gallery-item-caption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
}

.video-gallery .gallery-item h2 {
  font-weight: 300;
  overflow: hidden;
  padding: 0.5em 0;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
position: relative;
margin: 0;
/* z-index: 10; */
}

.video-gallery .gallery-item p {
letter-spacing: 1px;
font-size: 68%;

padding: 1em 0;
opacity: 0;
transition: opacity 0.35s, transform 0.35s;
transform: translate3d(10%, 0, 0);
}

.video-gallery .gallery-item:hover img {
opacity: .3;
transform: translate3d(0, 0, 0);

}

.video-gallery .gallery-item .gallery-item-caption {
text-align: left;
}

.video-gallery .gallery-item h2::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 15%;
height: 1px;
background: #fff;

transition: transform 0.3s;
transform: translate3d(-100%, 0, 0);
}

.video-gallery .gallery-item:hover h2::after {
transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item:hover p {
opacity: 1;
transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 50em) {
.video-gallery .gallery-item {
  display: inline-block;
  float: none;
  /* margin: 10px auto; */
  width: 100%;
}
}

.navBar{
  z-index: 5;
  background: rgba(255, 255, 255, 0);
}
.navBar ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-right: 2vw;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  color: #724169;
}
.navBar li{
  font-size: 2.5vh;
}
.navBar a {
  text-decoration: none;
  color: #724169;
}
.navBar a:hover{
  color: #D2A0DD;
}
@media (max-width: 1148px){
  .navBar{
    visibility: hidden;
  }
}
@media (min-width: 1149px) {
  .menu-wrap{
    visibility: hidden;
  }
}

#socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: navy;
  color: white;
  margin-right: 2.5px;
}

.fa-instagram {
  background: fuchsia;
  color: white;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.fa-github {
background: rgb(48, 199, 28);
color: white;
margin-left: 2.5px;
}

.about-me {
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}

.aboutSec{
  display: flex;
  justify-content: space-around;
  text-align: right;
  align-items: center;
  margin-top: 100px;
}

.name {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5.5vw;
  color: white;
  font-family: 'Prata', serif;
}

#coffeemugs {
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 70px;
  height: 500px;
  width: 470px;
}
